In [60]:
import pandas as pd
import sys
import copy

In [61]:
gene = pd.read_csv("geneinfo.txt", sep='\t', header=0)
seg = pd.read_csv("Sample1.cr.igv.seg", sep='\t', header=0)
segmean_type = "log2cr"
sample_name = "sample1"

In [62]:
gene

      chrom     start       end                    geneid     genename
0         1     11869     14409         ENSG00000223972.5      DDX11L1
1         1     14404     29570         ENSG00000227232.5       WASH7P
2         1     17369     17436         ENSG00000278267.1    MIR6859-1
3         1     29554     31109         ENSG00000243485.5  MIR1302-2HG
4         1     30366     30503         ENSG00000284332.1    MIR1302-2
...     ...       ...       ...                       ...          ...
58679     Y  57184101  57197337  ENSG00000124334.17_PAR_Y         IL9R
58680     Y  57190738  57208756   ENSG00000270726.6_PAR_Y   AJ271736.1
58681     Y  57201143  57203357  ENSG00000185203.12_PAR_Y       WASIR1
58682     Y  57207346  57212230  ENSG00000182484.15_PAR_Y       WASH6P
58683     Y  57212184  57214397   ENSG00000227159.8_PAR_Y     DDX11L16

[58684 rows x 5 columns]

In [63]:
seg=seg.drop(['Sample', 'Num_Probes'], axis=1)
seg

    Chromosome      Start        End  Segment_Mean
0         chr1      69413     634434      1.341208
1         chr1     728575   16574866     -0.093410
2         chr1   16574867   16650485      0.000951
3         chr1   16682548   18631945     -0.060538
4         chr1   18634006   19449566      0.520655
..         ...        ...        ...           ...
225       chrX   48299335   48305144     -0.811341
226       chrX   48347235  141003518     -0.836177
227       chrX  141003519  141626920     -0.826816
228       chrX  141695575  155613199     -0.809957
229       chrY    3851589   56840776     -0.527455

[230 rows x 4 columns]

In [64]:
gene['chrom'] = gene['chrom'].map(lambda x: 'chr' + x)

for index, row in gene.iterrows():
    tmp_df = seg.loc[(seg['Chromosome'] == row['chrom']) & (seg['End'] >= row['start']) & (seg['Start'] <= row['end'])]
    gene.loc[index,sample_name] = tmp_df['Segment_Mean'].mean()
gene.dropna(axis=0, how='any', inplace=True)

if segmean_type == 'log2cr':
    gene[sample_name] = gene[sample_name].map(lambda x: round(2*(2**x))-2)
elif segmean_type == 'cr':
    gene[sample_name] = gene[sample_name].map(lambda x: round(2*x)-2)
elif segmean_type == 'cn':
    gene[sample_name] = gene[sample_name].map(lambda x: x-2)

In [65]:
gene
# seg.drop(['Sample', 'Num_Probes'], axis=1)

      chrom     start       end             geneid    genename  sample1
8      chr1     65419     71585  ENSG00000186092.6       OR4F5        3
9      chr1     89295    133723  ENSG00000238009.6  AL627309.1        3
10     chr1     89551     91105  ENSG00000239945.1  AL627309.3        3
11     chr1    131025    134836  ENSG00000233750.3      CICP27        3
12     chr1    135141    135895  ENSG00000268903.1  AL627309.6        3
...     ...       ...       ...                ...         ...      ...
58667  chrY  26508213  26579690  ENSG00000215506.5     TPTE2P4       -1
58668  chrY  26549425  26549743  ENSG00000224240.1     CYCSP49       -1
58669  chrY  26586642  26591601  ENSG00000227629.1  SLC25A15P1       -1
58670  chrY  26594851  26634652  ENSG00000237917.1     PARP4P1       -1
58671  chrY  26626520  26627159  ENSG00000231514.1      CCNQP2       -1

[58367 rows x 6 columns]